################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/src/.vs
/src/Sokoban/obj/Debug
/bin/Release/Sokoban.vshost.exe.manifest
/bin/Release/Sokoban.vshost.exe.config
/bin/Release/Sokoban.vshost.exe
/bin/Release/Sokoban.pdb
/bin/Release/Sokoban.exe.config
/src/Sokoban/obj/Release
*.user
